/*INNER LAYOUT*/

.estructura{
    width:100%;
    background:url('../../assets/images/general/im-bg.jpg') top center no-repeat;
    background-size:auto 136px;
}

.top-estructura{
    height:108px;
    padding:46px 0px 0px;
    box-sizing: border-box;
    max-width: 1200px;
    width: 94%;
    margin: 0 auto;
}
.top-estructura h2{
    font-size:25px;
    line-height: 28px;
    color:#1f2c46;
    float: left;
}
.top-estructura .etiqueta{
    float: right;
}

.inner-estructura{
    min-height: 200px;
    max-width: 1200px;
    width: 94%;
    background: #FFF;
    margin: 0 auto 40px;
    border-radius: 5px;
    box-shadow: 0px 7px 27px rgba(208,208,234,0.3);
}
.inner-estructura > .col-md-6{
    min-height: 200px;
    border-right:1px solid #ebebef;
}
.inner-estructura > .col-md-6:last-child{
    border-right:0px;
}


@media (max-width: 767px){
    .inner-estructura > .col-md-6{
        min-height: 0;
        border-right:0px;
    }
}
