/*ICONOS*/

.icono{
    display: inline-block;
    width:30px;
    height:30px;
    background-repeat: no-repeat;
    background-position: center center;
}
.icono.ic-copy{
    background-image:url('../../assets/images/iconos/ic-copy.png');
}
.icono.ic-delete{
    background-image:url('../../assets/images/iconos/ic-delete.png');
}
.icono.ic-edit{
    background-image:url('../../assets/images/iconos/ic-edit.png');
}
.icono.ic-trash{
    background-image:url('../../assets/images/iconos/ic-trash.png');
}
.icono.ic-store{
    background-image:url('../../assets/images/iconos/ic-store.png');
    width:38px;
}
.icono.ic-truck-1{
    background-image:url('../../assets/images/iconos/ic-truck-1.png');
    width:38px;
}
.icono.ic-truck-2{
    background-image:url('../../assets/images/iconos/ic-truck-2.png');
    width:38px;
}
.icono.ic-truck-3{
    background-image:url('../../assets/images/iconos/ic-truck-3.png');
    width:38px;
}
