.navbar{
    height: 67px;
    padding:10px 20px;
    box-shadow: 0px 6px 17px rgba(208,208,234,0.3);
    background: #FFF;
}
.navbar-brand{
    width:90px;
    height:57px;
    overflow: hidden;
    text-indent: -999px;
    background: url('../../assets/images/lg-nutralmix.png') center center no-repeat;
    background-size: contain;
    position: absolute;
    top: 4px;
    left: 20px;
}

.navbar-nav{
    width:100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.nav-item{
    display: inline-block;
}
.nav-link{
    display: inline-block;
    line-height: 62px;
    padding: 3px 0 3px !important;
    margin: 0 20px;
    color:#090a0a;
    font-family: 'Lato', Arial;
    letter-spacing: 0.3px;
    font-size: 12px;
    font-weight: 900;
    text-transform: uppercase;
}
.nav-item.active .nav-link,
.nav-item:hover .nav-link{
    padding: 3px 0 0px !important;
    color:#2da649;
    border-bottom:3px solid #2da649;
}

.navbar-nav.float-right{
    width:auto;
    position:absolute;
    top:0px;
    right:20px;
}

.navbar-nav .dropdown-menu{
    top: 55px;
}
.dropdown-item{
    font-family: 'Lato', Arial;
    line-height: 30px;
    text-transform:none;
}
