
<nav class="navbar navbar-light navbar-expand-md fixed-top">

    <a class="navbar-brand" href="http://www.nutralmix.com.ar">Nutral Mix &reg;</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">

        <ul class="navbar-nav mr-auto">
            <!-- *ngIf="authService.esUsuarioAutorizado()" -->
            <li class="nav-item active" *ngIf='authService.esAdministrador'>
                <a class="nav-link" routerLink="/usuariosList">Usuarios</a>
            </li>
            <li class="nav-item" *ngIf='authService.esAdministrador'>
                <a class="nav-link" routerLink="/avisosList">Avisos</a>
            </li>
            <li class="nav-item active" *ngIf='authService.esCliente'>
                <a class="nav-link" routerLink="/clientesList">Clientes</a>
            </li>

            <li class="nav-item dropdown" *ngIf='authService.esCliente'>
                <a class="nav-link dropdown-toggle" href="" id="PedidosDropdown" data-toggle="dropdown">Pedidos</a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="PedidosDropdown">
                    <a class="dropdown-item"  routerLink="/pedidos">Pedidos Tango</a>
                    <a class="dropdown-item"  routerLink="/pedidosCrearListados"> Mis Pedidos WEB </a>
                    <a class="dropdown-item" routerLink="/pedidoCrearDetalles">Crear Pedido WEB</a>
                </div>
            </li>
            <!-- <li class="nav-item" *ngIf='authService.esCliente '>
                <a class="nav-link" routerLink="/pedidosCrearListados"> PedidosC listado</a>
            </li> -->
            <li class="nav-item" *ngIf='authService.esCliente '>
                <a class="nav-link" routerLink="/remitos"> Remitos</a>
            </li>
            <li class="nav-item dropdown"  *ngIf='authService.esCliente '>
                <a class="nav-link dropdown-toggle" href="" id="AlertasDropdown" data-toggle="dropdown">Alertas Reposición </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="AlertasDropdown">
                    <a class="dropdown-item"  routerLink="/alertaReposicionListado"> Mis Alertas </a>
                    <a class="dropdown-item" routerLink="/alertaReposicionCrear">Crear Alertas</a>
             </div>
          </li>



          <li class="nav-item" *ngIf='authService.esCliente '>
             <a class="nav-link" routerLink="/establecimientosListado"> Establecimientos</a>
          </li>


          <li class="nav-item" *ngIf='authService.esCliente '>
             <a class="nav-link" routerLink="/rodeosListado"> Rodeos</a>
          </li>

          <li class="nav-item" *ngIf='authService.esDistribuidor '>
             <a class="nav-link" routerLink="/distribuidor">Distribuidor</a>
          </li>
          <li class="nav-item" *ngIf='authService.esTransportista '>
             <a class="nav-link" routerLink="/transportista">Transportista</a>
          </li>

            <!-- MOBILE MENU -->
            <li class="nav-item d-block d-md-none" *ngIf='empresa'>
                <a class="nav-link" routerLink="/settings">Configuración</a>
            </li>
            <li class="nav-item d-block d-md-none" *ngIf='authService.authenticated'>
                <a class="nav-link" (click)="logoutGoogle()">Salir</a>
            </li>
            <li class="nav-item d-block d-md-none" *ngIf='!authService.authenticated'>
                <a class="nav-link" routerLink="/LogMail">Ingresar</a>
            </li>
        </ul>

        <ul class="navbar-nav float-right">
            <!--<li class="nav-item active">
                <a class="nav-link" routerLink="/registrarse">{{authService.currentUserDisplayName}}</a>
            </li>-->
            <li class="nav-item" *ngIf='!authService.authenticated'>
                <a class="nav-link" routerLink="/LogMail">Ingresar</a>
            </li>
            <!--<li class="nav-item active" *ngIf='authService.authenticated'>
                <a class="nav-link" routerLink="/settings">Configuración </a>
            </li>-->
            <!--<li class="nav-item active" *ngIf='!authService.authenticated'>
                <a class="nav-link" routerLink="/registrarse">Registrase </a>
            </li>-->
            <li class="nav-item d-none d-md-block" *ngIf='authService.authenticated'>
                <div class="nav-link dropdown">
                    <a class="dropdown-toggle mi-perfil" href="javascript:;" id="navbarDropdownMenuLink" data-toggle="dropdown"><!--<img src="../../assets/images/login/im-avatar.jpg">-->{{empresa}}</a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" *ngIf='empresa' routerLink="/settings">Configuración</a>
                        <!--
                        <a class="dropdown-item" *ngIf='!authService.authenticated' (click)="loginGoogle()">Google</a>
                        <a class="dropdown-item" *ngIf='!authService.authenticated' routerLink="/LogMail">Mail</a>
                        -->
                        <!-- <div class="dropdown-divider"> -->
                        <a class="dropdown-item" *ngIf='authService.authenticated' (click)="logoutGoogle()">Salir</a>
                        <!-- </div> -->
                    </div>
                </div>
            </li>
        </ul>

    </div>

</nav>
