footer{
    background:#004126;
    height: 112px;
    position: relative;
    padding:48px 20px 0;
}
footer a.logo{
    display: block;
    width:90px;
    height:57px;
    overflow: hidden;
    text-indent: -999px;
    background: url('../../assets/images/lg-nutralmix-footer.png') center center no-repeat;
    background-size: contain;
    position: absolute;
    top: 26px;
    left: 20px;
}

footer p{
    font-family: 'Lato', Arial;
    letter-spacing: 0.3px;
    font-size:11.5px;
    line-height: 16px;
    float:right;
    color:#b5bdc1;
}
footer p a{
    color:#b5bdc1;
}
