@import url("../../../../styles/global/_general.css");
@import url("../../../../styles/global/_form.css");

/* ==========================================================================
   #CARD
   ========================================================================== */
.card {
    overflow: hidden;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #fff;
    margin-left: auto;
    margin-right: auto;
}
