<div class="component pedidos">

    <app-header></app-header>

    <div class="estructura">

        <div class="top-estructura">

            <h2>Crear Pedido Web</h2>

        </div>

        <div class="row inner-estructura">

            <div class="col-sm-12">

                <div class="top-inner-estructura clearfix" id="headingOne">
                    <h3 *ngIf="!pedidoParaEditar"><b>Pedido: Nuevo</b></h3>
                    <h3 *ngIf="pedidoParaEditar"><b>Pedido: {{pedidoParaEditar.NRO_PEDIDO}}</b></h3>
                </div>

                <div class="table-body">

                    <div class="form-row" *ngIf="itemPedido"> <!--  -->

                        <div class="form-group col-md-3">
                            <label>Articulo</label>
                            <select class="form-control selectpicker" id="estado"  [(ngModel)]='itemPedido.articulo' (change)="setArticuloSeleccionado(itemPedido)"  >
                                <option *ngFor="let producto of listaDeProductos" [value]="producto| json" [selected]="articuloSeleccionado" >{{producto.DESCRIPCIO}}</option>
                            </select >
                        </div>

                        <div class="form-group col-md-3">
                            <label>Cantidad</label>
                            <input type="number" class="form-control" id="cantidad" required [(ngModel)]="cantidad">
                        </div>

                        <div class="form-group col-md-2">
                            <label>Unidades</label>
                            <input type="text" class="form-control" value="{{unidadDeMedida}}">
                        </div>

                        <div class="form-group col-md-4">
                            <label>&nbsp;</label>
                            <button class="btn btn-primary" (click)="agregarItem()">+ Agregar</button>
                        </div>

                    </div>

                    <div class="alerta alerta-3" *ngIf="mensajeError">{{mensajeError}}</div>

                    <hr>

                    <table class="table table-sm table-responsive table-striped table-wrapper-scroll-y ">
                        <thead>
                            <tr>
                                <th>
                                    ARTICULO
                                </th>
                                <th>
                                    CANTIDAD
                                </th>
                                <th>
                                    UNIDADES
                                </th>
                                <th>
                                    Acciones
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of items; index as i">
                                <td>
                                    {{item.articulo.DESCRIPCIO}}
                                </td>
                                <td>
                                    {{item.cantidad}}
                                </td>
                                <td>
                                    {{item.unidad}}
                                </td>
                                <td>
                                    <a href="javascript:;" (click)="modificarItem(i)"><i class="icono ic-edit"></i></a>
                                    <a href="javascript:;" (click)="borrarItem(i)"><i class="icono ic-delete"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="text-center pt-2 pb-2">
                        <button class="btn btn-primary mb-2" (click)="grabarPedido()">Grabar</button>
                    </div>

                </div>


            </div>

        </div>

    </div>

    <app-footer></app-footer>

</div>
