<div class="container-fluid estilos">
    <div class="row">
        <div class="col-12">

            <!-- GENERAL -->

            <h1>H1. Lorem ipsum dolor amet</h1>

            <h2>H2. Lorem ipsum dolor sit amet</h2>

            <h3>H3. Lorem ipsum dolor sit amet</h3>

            <h4>H4. Lorem ipsum dolor sit amet</h4>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce egetorci vel turpis hendrerit pharetra. Nunc sit amet faucibus nunc.Quisque vel ultrices ipsum. Nullam vestibulum diam neque aliqueturna elementum ut. Sed nec arcu non magna feugiat </p>

            <p><a>Link link link</a></p>

            <hr>
            <!-- BOTONES -->
            <h2>Botones</h2>

            <a href="#" class="btn btn-primary">Enviar</a>
            <a href="#" class="btn btn-secondary">Enviar</a>
            <a href="#" class="btn btn-default">Enviar</a>
            <a href="#" class="btn btn-link">Enviar</a>

            <br>

            <button class="btn btn-primary">Enviar</button>
            <button class="btn btn-secondary">Enviar</button>
            <button class="btn btn-default">Enviar</button>
            <button class="btn btn-link">Enviar</button>

            <hr>
            <!-- FORMULARIO -->
            <h2>Formulario</h2>

            <div class="form-row">

                <div class="form-group col-md-6">
                    <label>E-mail</label>
                    <input type="email" class="form-control" id="exampleInputPassword1" formControlName="clave" autocomplete="off">
                </div>

                <div class="form-group col-md-6">
                    <label>Código de empresa</label>
                    <input type="email" class="form-control" id="exampleInputPassword1" formControlName="clave" autocomplete="off">
                </div>

                <div class="form-group col-md-6">
                    <label>Estado</label>
                    <select class="form-control">
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                    </select>
                </div>

            </div>


            <hr>
            <!-- ALERTAS -->
            <h2>Alertas</h2>

            <div class="alerta alerta-1"><b>Bien hecho!</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>

            <div class="alerta alerta-2"><b>Atención!</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>

            <div class="alerta alerta-3"><b>Tuvimos un problema!</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit.again.</div>


            <hr>
            <!-- LOADING -->
            <h2>Loading</h2>

            <div class="loading"></div>


            <hr>
            <!-- ETIQUETAS -->
            <h2>Etiquetas</h2>

            <span class="etiqueta">Creado</span>
            <br><br>
            <span class="etiqueta check">Aprobado</span>
            <br><br>
            <span class="etiqueta black">mail@gmail.com</span>


            <hr>
            <!-- ICONOS -->
            <h2>Iconos</h2>

            <i class="icono ic-copy"></i>

            <i class="icono ic-delete"></i>

            <i class="icono ic-edit"></i>

            <i class="icono ic-trash"></i>

            <i class="icono ic-store"></i>

            <i class="icono ic-truck-1"></i>

            <i class="icono ic-truck-2"></i>

            <i class="icono ic-truck-3"></i>

            <hr>
            <!-- TABLE -->
            <h2>Tabla</h2>

            <table class="table table-sm table-striped table-wrapper-scroll-y">
                <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Perfil
                        </th>
                        <th>
                            Estado
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            1
                        </td>
                        <td>
                            Texto
                        </td>
                        <td>
                            Texto texto texto texto texto texto texto texto texto texto texto texto texto texto
                        </td>
                        <td>
                            Texto
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2
                        </td>
                        <td>
                            Texto
                        </td>
                        <td>
                            Texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto
                        </td>
                        <td>
                            Texto
                        </td>
                    </tr>
                    <tr>
                        <td>
                            3
                        </td>
                        <td>
                            Texto
                        </td>
                        <td>
                            Texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto
                        </td>
                        <td>
                            Texto
                        </td>
                    </tr>
                    <tr>
                        <td>
                            4
                        </td>
                        <td>
                            Texto
                        </td>
                        <td>
                            Texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto
                        </td>
                        <td>
                            Texto
                        </td>
                    </tr>
                </tbody>
            </table>

            <hr>
            <!-- ESTRUCTURA -->
            <h2>Estructura</h2>

            <div class="estructura">

                <div class="top-estructura">

                    <h2>Usuarios</h2>

                    <span class="etiqueta black">mail@gmail.com</span>

                </div>

                <div class="row inner-estructura">

                    <div class="col-md-6">

                    </div>

                    <div class="col-md-6">

                    </div>

                </div>

            </div>


            <hr>
            <!-- INNER LAYOUT -->
            <h2>Inner Layout</h2>


            <hr>
            <!-- MODAL -->
            <h2>Modals</h2>


        </div>
    </div>
</div>
