<div class="component pedidos">

    <app-header></app-header>

    <div class="estructura">

        <div class="top-estructura">

            <h2>Pedidos  <span *ngIf="pedidos">({{pedidos.length  }}) </span>  </h2>

            <!-- <span class="etiqueta black" *ngIf="pedidos">Cantidad: {{pedidos.length  }}</span> -->
            <span class="etiqueta black" *ngIf="empresaSelected">{{empresaSelected.RAZON_SOCI  }}</span>

        </div>

        <div class="row inner-estructura">

            <div class="col-sm-12">

                <!--<app-spinner *ngIf="showSpinner" [message]="mensajeSpinner"></app-spinner>-->
                <div class="text-center"><div class="loading" *ngIf="showSpinner"></div></div>

                <div *ngIf="mensajeError" >{{mensajeError}}</div>
<!--                 <p *ngIf="empresaSelected"> CÓDIGO: {{empresaSelected.COD_CLIENT  }}  Empresa: {{empresaSelected.RAZON_SOCI  }} </p> -->

                <div class="accordion" id="accordionExample">

                    <div *ngFor="let pedido of pedidos">

                        <div class="top-inner-estructura clearfix" id="headingOne">
                            <h3 data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" >
                                <b>Pedido {{pedido.NRO_PEDIDO}}</b> {{pedido.FECHA_PEDI}} 
                                <i class="icono ic-copy"  ngbTooltip="Generar un nuevo pedido Web con estos datos"></i>
                            </h3>
                            <span class="etiqueta check" *ngIf="pedido.Desc_Estado=='Aprobado'">{{pedido.Desc_Estado}}</span>
                            <span class="etiqueta" *ngIf="pedido.Desc_Estado!='Aprobado'">{{pedido.Desc_Estado}}</span>
                            <div class="text-center"><span ngbTooltip="Ver en el mapa" (click)="mostrarMapa(pedido.ID_INFOTRAK)" class="icono ic-truck-1" *ngIf="pedido.ID_INFOTRAK"></span></div>

                            
                            

                                                
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="table-body">
                                <table class="table table-sm table-responsive table-striped table-wrapper-scroll-y">
                                    <thead>
                                        <tr>
                                            <th>
                                                PRODUCTO
                                            </th>
                                            <th>
                                                CANTIDAD PEDIDO
                                            </th>
                                            <!-- <th>
                                            CANTIDAD REMITO
                                            </th> -->
                                            <!--  <th>
                                            UNIDADES
                                            </th>
                                            <th>
                                            REMITO
                                            </th>
                                            <th>
                                            FECHA REMITO
                                            </th>
                                            -->
                                           <!--  <th>
                                                TRANSPORTISTA
                                            </th> -->
                                            <!--  <th>
                                            UBICACION
                                            </th> -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let detalle of pedido.detalle">
                                            <td (click)="setPedidoSelected(pedido)" >
                                            {{detalle.DESCRIPCIO}}
                                            </td>
                                            <td (click)="setPedidoSelected(pedido)" >
                                            {{detalle.CANT_PEDID}}  {{detalle.ID_MEDIDA_STOCK}}
                                            </td>
                                            <!-- td (click)="setPedidoSelected(pedido)" >
                                            {{detalle.CANT_REMITO}}
                                            </td >
                                            <td (click)="setPedidoSelected(pedido)" >
                                            {{detalle.ID_MEDIDA_STOCK}}
                                            </td >
                                            <td (click)="setPedidoSelected(pedido)" >
                                            {{detalle.N_REMITO}}
                                            </td >
                                            <td (click)="setPedidoSelected(pedido)" >
                                            {{detalle.FECHA_REMITO}}
                                            </td >
                                            <td (click)="setPedidoSelected(pedido)" >
                                            {{detalle.NOMBRE_TRA}}
                                            </td > -->
                                            <!-- <td (click)="mostrarMapa(detalle.ID_INFOTRAK)">

                                                <i class="icono ic-truck-1" *ngIf="detalle.ID_INFOTRAK"></i> -->
                                                <!--<i class="icono ic-truck-2"></i>-->
                                                <!--<i class="icono ic-truck-3"></i>-->

                                                <!--<img src="../assets/images/iconos/ic-truck-1.png" alt="" class="camion_listado" *ngIf="detalle.ID_INFOTRAK">-->
                                            <!-- </td> -->
                                        </tr>

                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>

    <app-footer></app-footer>

</div>
