    <form class="row" [formGroup]="crearLabelForm">

        <p class="alerta alerta-2 col-md-12" *ngIf="crearLabelForm.status!='VALID'">
            Complete todos los datos coorectamente
            <!-- Form Status: {{ crearLabelForm.status }}
            Form value: {{ crearLabelForm.value }} -->
        </p>
        <br>

        <!-- E mail -->
        <div class="form-group col-md-6">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" formControlName="email" required />
            <div *ngIf=" (crearLabelForm.controls.email.invalid && (crearLabelForm.controls.email.dirty|| crearLabelForm.controls.email.touched  ) )" class="alerta alerta-3">
                El email es no es válido.
            </div>
            <div *ngIf="existeEmailenlaBase" class="alerta alerta-3">
                Ya existe un usuario con ese Email!!!
            </div>
        </div>

        <!-- Estado -->
        <div class="form-group col-md-6">
            <label for="estado">Estado</label>
            <select class="form-control selectpicker" id="estado" formControlName="estado" required>
                <option  *ngFor="let estado of tiposEstado" [value]="estado.id" >{{estado.val}}</option>
            </select>
            <div *ngIf=" (crearLabelForm.controls.estado.invalid && (crearLabelForm.controls.estado.dirty|| crearLabelForm.controls.estado.touched  ) )" class="alerta alerta-3">
                El estado es no es válido.
            </div>
        </div>

        <!-- Perfil -->
        <div class="form-group col-md-6">
            <label for="estado">Perfil</label>
            <select class="form-control selectpicker" id="perfil" formControlName="perfil">
                <option  *ngFor="let perfil of tiposPerfil" [value]="perfil.id" >{{perfil.val}}</option>
            </select>
            <div *ngIf=" (crearLabelForm.controls.perfil.invalid && (crearLabelForm.controls.perfil.dirty|| crearLabelForm.controls.perfil.touched  ) )" class="alerta alerta-3">
                El estado es no es válido.
            </div>
        </div>

        <!--Empresa -->
        <div class="form-group col-md-6" *ngIf="crearLabelForm.value.perfil!!='transportista'">
            <label for="empresa">Razón Social</label>
            <div class="form-control">
                <input  type="text" class="" id="empresa" formControlName="empresa" />
                <!-- <button class="btn btn-primary" (click)="agregarEmpresa()">Agregar</button> -->
                <button class="btn btn-primary" (click)="buscarEmpresa()">Buscar</button>
            </div>
            <!--<button class="btn btn-primary" (click)="buscarEmpresa()">Buscar</button>-->
        </div>

       <!--  <div class="col-sm-12 text-center">
            <button class="btn btn-primary" (click)="updateUserData()"> Enviar </button>
            <button class="btn btn-secondary" (click)="borrarFormulario()"> Limpiar </button>
        </div> -->

    </form>

    <div class="">
        <table class="highlight-opt    table table-sm table-responsive table-striped table-wrapper-scroll-y" *ngIf="listaEmpresas">
            <thead>
                <tr>
                    <th>
                        Codigo Cliente
                    </th>
                    <th>
                        Razón Social
                    </th>
                    <th>
                        Cuit
                    </th>
                    <th>
                        Localidad
                    </th>
                    <th>
                        Acciones
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr  *ngFor="let emp of listaEmpresas; let i = index" [attr.data-index]="i">
                    <td>
                        {{emp.COD_CLIENT}}
                    </td>
                    <td>
                        {{emp.RAZON_SOCI}}
                    </td>
                    <td>
                        {{emp.CUIT}}
                    </td>
                    <td>
                        {{emp.LOCALIDAD}}
                    </td>
                    <td (click)="borrarEmpresa(i)">
                        <i class="icono ic-trash" ngbTooltip="Borrar"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-sm-12 text-center">
            <button class="btn btn-primary" (click)="updateUserData()"> Enviar </button>
            <button class="btn btn-secondary" (click)="borrarFormulario()"> Limpiar </button>
        </div>
    <!-- </div> -->
