<p>
  Detalle de Pedidos!
</p>
<app-spinner *ngIf="showSpinner" [message]="mensajeSpinner"></app-spinner>
<div *ngIf="mensajeError" >{{mensajeError}}</div>
<p   *ngIf="pedidoSelected"> NRO_PEDIDO: {{pedidoSelected.NRO_PEDIDO  }}  N_REMITO: {{pedidoSelected.N_REMITO  }} </p>
<p   *ngIf="pedidoDetalle"> cantidad de Pedidos: {{pedidoDetalle.length  }}  </p>

                     <table class="table table-sm table-striped table-wrapper-scroll-y ">
                        <thead>
                            <tr >
                                <th>
                                   Cant Pedido
                                </th>
                                <th>
                                   Cant Remito
                                </th>
                                <th>
                                    Cod Artículo
                                </th>
                                <th>
                                    Artíclo
                                </th>
                                <th>
                                    Fecha Remito
                                </th>
                                <th>
                                    Unidades
                                </th>

                            </tr>
                        </thead>
                        <tbody>

                            <tr

                                 *ngFor="let pedido of pedidoDetalle" (click)="setPedidoSelected(pedido)"

                                 >
                                <td>
                                    {{pedido.CANT_PEDID}}
                                </td >
                                <td>
                                    {{pedido.CANT_REMITO}}
                                </td>
                                <td>
                                    {{pedido.COD_ARTICU}}
                                </td>
                                <td>
                                    {{pedido.DESCRIPCIO}}
                                </td>
                                <td>
                                    {{pedido.FECHA_REMITO}}
                                </td>
                                <td>
                                    {{pedido.ID_MEDIDA_STOCK}}
                                </td>
                            </tr>
                            </tbody>
                        </table>