    <div class="container" >


        <div class="card card-3 ">


      <div    class="card-body ">
         <!-- <h1 class="title">Registración</h1> -->

      <h1 class="text-center">Usuarios</h1>
      <!-- <h3 class="text-center" *ngIf="listaUsuarios">cantidad: {{listaUsuarios.length}}</h3> -->

    <!-- <div class="container mt-2"> -->

         <!-- <div class="form-group "> -->

    <div class="row">
                <div class="col-md-6">
                    <div class="card-group card-group-6 ">
<p>Default pagination:</p>
<ngb-pagination [collectionSize]="collectionSize"  [pageSize]="pageSize" [(page)]="page" aria-label="Default pagination"></ngb-pagination>
<p>Current page: {{page}}</p>
<p>Current pageSize: {{pageSize}}</p>
<p>Current collectionSize: {{collectionSize}}</p>
                        <label for="email">Email</label>
                             <div class="form-group  row mail-row">
                             <input type="email" class="form-control col-md-10" id="emailFiltro"  [(ngModel)]="filtroMail" placeholder="Filtro por email" />
                            <button class="btn btn-primary mb-2" (click)="ejecutarFiltroMail()"> Filtrar </button>
                    </div>


                    <table class="table table-sm table-striped table-wrapper-scroll-y ">
                        <thead>
                            <tr >
                                <th>
                                    #
                                </th>
                                <th>
                                    E-mail
                                </th>
                                <th>
                                    Perfil
                                </th>
                                <th>
                                    Estado
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr

                                 *ngFor="let usuario of listaUsuarios " (click)="setUserSelected(usuario)"
[ngClass]="{'table-danger': usuario.estado == 'suspendido' ,'table-success': usuario.estado == 'activo','table-warning': usuario.estado == 'pendiente'}"
                                 >
                                <td>
                                    4
                                </td >
                                <td>
                                    {{usuario.email}}
                                </td>
                                <td>
                                    {{usuario.perfil}}
                                </td>
                                <td>
                                    {{usuario.estado}}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>



                <div class="col-md-6">
                         <div class="card-group card-group-3">
                        <app-nuevo-usuario  [userSelected]="userSelected"></app-nuevo-usuario>
                </div>
                </div>
            </div>
            </div>
            </div>
            </div>
            <!-- </div> -->
            <!-- </div> -->

