<div class="component usuario">

    <app-header></app-header>

    <div class="estructura">

        <div class="top-estructura">

            <h2>Usuarios</h2>

        </div>

        <div class="row inner-estructura">

            <div class="col-md-6">

                <app-nuevo-usuario  [userSelected]="userSelected"></app-nuevo-usuario>

            </div>

            <div class="col-md-6">

                <!-- <h3 class="text-center" *ngIf="listaUsuarios">cantidad: {{listaUsuarios.length}}</h3> -->

                <div class="form-group">
                    <div class="form-control">
                        <input type="email" id="emailFiltro"  [(ngModel)]="filtroMail" placeholder="Filtrar por email" />
                        <button class="btn btn-primary" (click)="ejecutarFiltroMail()"> Filtrar </button>
                    </div>
                </div>

                <table class="table table-sm table-responsive table-striped w-100 table-wrapper-scroll-y">
                    <thead>
                        <tr>
                            <th>
                                #
                            </th>
                            <th>
                                E-mail
                            </th>
                            <th>
                                Perfil
                            </th>
                            <th>
                                Estado
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let usuario of listaUsuarios " (click)="setUserSelected(usuario)" [ngClass]="{'table-danger': usuario.estado == 'suspendido' ,'table-success': usuario.estado == 'activo','table-warning': usuario.estado == 'pendiente'}">
                            <td>
                                4
                            </td >
                            <td>
                                {{usuario.email}}
                            </td>
                            <td>
                                {{usuario.perfil}}
                            </td>
                            <td>
                                {{usuario.estado}}
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>
    </div>

    <app-footer></app-footer>

</div>
